<h3><i>Create Quiz</i></h3>
<form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
    <small *ngIf="quizForm.get('name')?.touched && quizForm.get('name')?.hasError('required')">
        Name is required
    </small>
    <br>
     <label class="center-block">Description:
      <input class="form-control" formControlName="description">
    </label>
    <small *ngIf="quizForm.get('description')?.touched && quizForm.get('description')?.hasError('required')">
        Description is required
    </small>
     <small *ngIf="quizForm.get('description')?.touched && quizForm.get('description')?.hasError('minlength')">
        Description must contains at least 5 characters
    </small>

    <br>
     <label class="center-block">Image Url:
      <input class="form-control" formControlName="imageUrl">
    </label>
    <small *ngIf="quizForm.get('imageUrl')?.touched && quizForm.get('imageUrl')?.hasError('validUrl')">
        Image Url is not valid
    </small>
  </div>
<button type="submit" [disabled]="!quizForm.valid">Save</button>
</form>