@import "src/assets/sass/utils/utils";

md-card {
  margin: em(10);
  padding: em(20);
  h2 {
    text-align: left;
  }
  button {
    text-transform: none;
    margin: em(5);
    font-size: em(10);
    width: 45%;
  }
  p {
    span {
      font-family: $second-font-family;
      font-size: em(15);
      font-weight: 500;
      margin: 0 em(10);
    }
    text-align: left;
    font-size: em(11);
  }
}
