@import "src/assets/sass/utils/utils";   
section{
padding: em(20) em(40) 0;
font-family: cursive;

    .title{
       text-align: center;
    }

    .line{
    border-top: em(5) solid $yellow;
    width: 10%;
    margin: 0 auto em(10);
  
        }

    .card{
    margin: em(15) em(20) em(5) em(20);
    background-color:$white;
    border-style: outset;
    width: 95%;
    border-color: $red;
    border-width: em(1) em(1) em(2) em(1);

        .card2{
        width: 70%;
        margin-left: em(25);
        height: 70%;
        background-color:$white;

        .title{ 
        text-align: center;
        font-size: em(20);
        color: $grey-black;
       }

        .content{
        margin-top: em(10);
        font-size: em(13);
        color: $grey-black;
        }

        .actions .button{
        color:$white;
        background: $red;
        font-size: em(11);
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-style: outset;
        border-color: $red;
        border-width: em(1) em(1) em(2) em(1);
        .icon{
        margin-top: em(7) ;
        margin-right: em(-6);
        size: em(22);
        }}}

        .card1{
        background-color:$yellow;
        width: 15%;
        text-align: center;
        height: em(140);
        margin-top: em(-1);
        margin-left: em(10);
         border-style: outset;
        border-color: $yellow;
        border-width: em(1) em(1) em(2) em(1);

        .subtitle{
        align-self: center;
        font-family: cursive;
        margin: em(15) em(5) em(15) em(5);
        font-size: em(12);
        color:$black;
        font-family: cursive; }

        }
    }
    .card-paginator{
    margin-left: em(32);
    background-color:$white;
    border-style: outset;
    width: 95%;
    border-color: $grey-black;
    border-width: em(1) em(1) em(1) em(1);
    color: $black;
    }
}