@import "../../../../../../assets/sass/utils/utils";

img {
  width: 100%;
  max-width: em(100);
}

h1 {
  font-size: em(22);
  span {
    font-size: em(25);
  }
}

h2 {
  font-size: em(18);
  margin-top: em(10);
}

h3 {
  margin-top: em(15);
  color: $yellow;
}

button {
  width: 15%;
}

.passed, .failed {
  font-size: em(22);
  font-family: $second-font-family;
  font-weight: 600;
  text-transform: uppercase;
  p {
    padding: 0;
  }
}

.passed {
  color: $green;
}

.failed {
  color: $red;
}

.review {
  padding: em(10);
  font-size: em(14);
  margin-bottom: em(12);
}
