@import "../../../../../../../../assets/sass/utils/utils";

.answer{
  padding: em(15) em(5);
  font-size: em(16);

  p{
    margin-left: em(10);
    letter-spacing: em(0.5);
  }

  .large-11{
    padding-right: em(25);
  }
}
