<div class="base-form align-center-items">
  <div class="border-thin">
  <h1>Login Page</h1>
  <small style="color:red" *ngIf="errors?.error ">
       {{ errors.error }} 
    </small>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">

      <md-input-container class="full-width">
        <input formControlName="username" mdInput placeholder="Username">
        <md-error *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')">
          Username is required
        </md-error>
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container type="password" class="full-width">
        <input formControlName="password" type="password" mdInput placeholder="Password">
        <md-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
          Password is required
        </md-error>
        <md-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('minlength')">
          Password must contains at least 5 characters
        </md-error>
      </md-input-container>
    </div>

    <button class="btn" md-button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</div> 
</div>