<section>
  <h1>Login</h1>
  <div class="line"></div>

  <div class="row">

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="medium-5 small-12  centered columns">

      <md-card class="card">

        <md-error class="error centered" *ngIf="error">
          {{ error }}
        </md-error>

        <div class="row">

          <md-input-container class="medium-12 small-12 columns">

            <input formControlName="username" mdInput placeholder="Username">

            <md-error
              *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')">
              Username is required
            </md-error>

          </md-input-container>

          <md-input-container class="medium-12 small-12 columns">

            <input formControlName="password" type="password" mdInput placeholder="Password" [formGroup]="loginForm">

            <md-error
              *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
              Password is required
            </md-error>

            <md-error
              *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('minlength')">
              Password must contains at least 2 characters
            </md-error>

          </md-input-container>

          <button class="medium-4 centered" md-button [disabled]="!loginForm.valid">Login</button>

        </div>

      </md-card>
    </form>

  </div>

</section>
