@import "src/assets/sass/utils/utils";

.card {
  padding: em(25) em(20) em(45);
  background-color: $bubbles;
  margin: 15px 20px;
  border-style: outset;
  border-width: 1px 1px 3px 1px;

  .title {
    font-size: 18px;
    color: $rich-black;
  }

  .description {
    padding: em(0) em(20);
    color: $rich-black;
    font-style: italic;
    text-align: left;
  }

  .footer {
    color: $sacramento-state-green;
    text-align: left;
    padding-left: em(30);
  }

  img {
    width: 100%;
    height: 100%;
    max-width: em(100);
  }
}
