button, .btn{
  font-family: $second-font-family;
  text-align: center;
  text-transform: uppercase;
  font-size: em(10);
  font-weight: 500;
  background-color: $yellow;
  color: $natural-white;

  &:disabled{
    background-color: $grey-white;
  }
}

