@import "src/assets/sass/utils/utils";

.card {
  background-color: $white;
  padding: em(15) em(30) em(20);
  margin: em(12) em(20);

  text-align: left;
  h2{
    font-size: em(18);
  }
  button {
    margin: em(20) 0 0;
    width: 50%;
  }

  img {
    width: 100%;
    max-width: em(50);
    float: right;
  }
}
