@import "../../../../../../assets/sass/utils/utils";

.review{
  padding: em(5);
  background-color: $natural-white;
  border: $base-border;
  margin: em(5) 0;
  cursor: pointer;
}

.answered{
  background-color: $grey-black;
  font-weight: 500;
  color: $white;
}
