<section *ngIf="!result?.finished">

  <div class="row">

    <div class="large-3 medium-6 small-12 columns" *ngFor="let question of quiz.questions; let index = index;">
      <div class="review" (click)="selectQuestionPage(index)" [class.answered]="question.answered">
        <p>{{index + 1}} . {{ question.answered ? 'Answered' : 'Not answered' }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">

      <qz-submit (onFinishedState)="checkIsFinishedQuiz($event)" [quiz]="quiz"></qz-submit>
      <qz-cancel (onCancelState)="onCancel($event)"></qz-cancel>

    </div>
  </div>
</section>

<section *ngIf="result?.finished">
  <qz-result [result]="result"></qz-result>
</section>
