@import "../../../../assets/sass/utils/utils";

.nav {
  text-transform: uppercase;
  display: block;
  background-color: $grey-black;
  color: $white;
  padding: em(15) em(25);

  .align-center, h1 {
    display: inline;
  }

  .align-center, .align-left {
    font-size: em(10);
    font-family: $second-font-family;
  }
  h1 {
    margin-right: em(15);
  }
  .align-center {
    float: center;
    margin-top: em(8);
  }

  .align-left {
    margin: 0 em(8);
  }

  a {
    color: $white;
    font-size: em(12);
  }
}
