<nav class="nav">

  <h1>Brand</h1>

  <a *ngIf="isAuthenticated()" [routerLink]="['/home']" [routerLinkActive]="['active']" class="align-left">
    <i class="material-icons">home</i>
    Home
  </a>

  <a *ngIf="isAuthenticated()" [routerLink]="['/quiz-list-by-categories/all']" [routerLinkActive]="['active']"
     class="align-left">
    <i class="material-icons">list</i>
    Quizzes
  </a>
  <a *ngIf="isAuthenticated()" [routerLink]="['/categories']" [routerLinkActive]="['active']" class="align-left">
    <i class="material-icons">lightbulb_outline</i>
    Categories
  </a>

  <a *ngIf="isAuthenticated()" [routerLink]="['/user-results']" [routerLinkActive]="['active']" class="align-left">
    <i class="material-icons">playlist_add_check</i>
    Results
  </a>

  <a [routerLink]="['/login']" *ngIf="!isAuthenticated()" [routerLinkActive]="['active']" class="align-right">
    <i class="material-icons">perm_identity</i>
    Login
  </a>


  <a [routerLink]="['/register']" *ngIf="!isAuthenticated()" [routerLinkActive]="['active']" class="align-right">
    <i class="material-icons">person_add</i>
    Register
  </a>

  <a *ngIf="isAuthenticated()" (click)="onLogout()" [routerLinkActive]="['active']" class="align-right">
    <i class="material-icons">perm_identity</i>
    Logout
  </a>


</nav>
