<nav class="nav">

  <h1>Brand</h1>

  <a [routerLink]="['/home']"[routerLinkActive]="['active']" class="align-left">
    <i class="material-icons">home</i>
    Home
  </a>

  <a [routerLink]="['/quiz-list-by-categories/all']"[routerLinkActive]="['active']"
     class="align-left">
    <i class="material-icons">list</i>
    Quizzes
  </a>
  <a [routerLink]="['/categories']"  [routerLinkActive]="['active']" class="align-left">
    <i class="material-icons">lightbulb_outline</i>
    Categories
  </a>

  <a [routerLink]="['/user-results']"  [routerLinkActive]="['active']" class="align-left">
    <i class="material-icons">playlist_add_check</i>
    Results
  </a>

  <a [routerLink]="['/register']"  [routerLinkActive]="['active']" class="align-right">
    <i class="material-icons">person_add</i>
    Register
  </a>

</nav>
