<section>

  <h1>Choose your way</h1>
  <div class="line"></div>

  <div class="row collapse">

    <article class="medium-4 small-12 columns">
      <md-card class="card">
        <img src="/assets/images/home/quizzes-icon.png" alt="quizzes"/>
        <h2>Quiz</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          A accusantium assumenda beatae culpa deleniti error in, ipsam labore modi necessitatibus odit perferendis qui,
          rerum, sunt totam vel velit! Libero, rerum.
        </p>
        <a class="btn" routerLink="/quiz-list-by-categories/all">Learn more</a>
      </md-card>
    </article>

    <article class="medium-4 small-12 columns">
      <md-card class="card">
        <img src="/assets/images/home/hackathons-icon.png" alt="hackathons"/>
        <h2>Results</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          A accusantium assumenda beatae culpa deleniti error in, ipsam labore modi necessitatibus odit perferendis qui,
          rerum, sunt totam vel velit! Libero, rerum.
        </p>
        <a routerLink="/user-results" class="btn">Learn more</a>
      </md-card>
    </article>

    <article class="medium-4 small-12 columns">
      <md-card class="card">
        <img src="/assets/images/home/algoplay-icon.png" alt="algoplay"/>
        <h2>Categories</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          A accusantium assumenda beatae culpa deleniti error in, ipsam labore modi necessitatibus odit perferendis qui,
          rerum, sunt totam vel velit! Libero, rerum.
        </p>

        <a routerLink="/categories" class="btn" >Learn more</a>
      </md-card>
    </article>

  </div>
</section>
