@import "../../../../assets/sass/utils/utils";

section {
  padding: em(20) em(40) 0;
  text-align: center;

  .line{
    border-top: 5px solid $yellow;
    width: 10%;
    margin: 0 auto em(10);
  }
  .card {
    padding: em(25) em(20) em(45);
    margin: em(10);
    background: $white;
    img{
      max-height: em(150);
      max-width: 100%;
      display: block;
      margin: em(10) auto;
    }
    p{
      font-size: em(10);
      margin: em(10) em(10) em(20);
    }
    a{
      background-color: $white;
      border: 3px solid $yellow;
      padding: em(10) em(35);
      border-radius: 3%;
    }

  }
}
