<section>
  <h1> Quizzes by category </h1>
  <div class="line"></div>


  <div class="row">

    <div class="small-12 medium-3 large-2 columns">
      <quiz-category-selector (valueEvent)="receiveValue($event)"></quiz-category-selector>
    </div>

    <div class="small-12 medium-9 large-10 columns">
      <div class="container">
        <div class="row">
          <quiz class="small-12 medium-6 large-4 columns" *ngFor="let quiz of quizzes | async" [quiz]="quiz"></quiz>
        </div>
      </div>
    </div>


    <div class="small-12 medium-9 large-10 columns info-msg" *ngIf="!id">
      <h2>Select a category to list quizzes by it! </h2>
    </div>


  </div>

</section>
