<md-card class="card">
    <h1 > {{quiz.title}} </h1>
    <div >
        <h6 class=title >Category: {{quiz.category.title}}</h6>
        <div>Author: {{quiz.author.username}}</div>
        <div>Create date: {{quiz.created_at* 1000 | date}}</div><br>
    </div>

    <div class="actions"><button md-button class="button_view" (click)="openDialog($event) ">View details</button>
                         <button md-button routerLink="/quiz-solve/{{quiz.id}}" class="button_resolve"> Resolve</button>
    </div>
</md-card>
