@import "src/assets/sass/utils/utils";

.card {
  margin: em(15) em(20) em(5) em(20);
  background-color: $grey-white;
  border-style: outset;
  width: 95%;
  color: $black;
  border-color: $grey-white;
  border-width: em(1) em(1) em(2) em(1);
  .title {
    color: $red;
    padding: em(5);
  }
  .actions .button_resolve {
    color: $white;
    background: $red;
    font-size: em(11);
    width: em(118);
    border-style: outset;
    border-color: $red;
    border-width: em(1) em(1) em(2) em(1);
  }

  .actions .button_view {
    color: $black;
    width: em(118);
    background: $yellow;
    font-size: em(11);
    border-style: outset;
    border-color: $yellow;
    border-width: em(1) em(1) em(2) em(1);
  }

}


