@import "../../../../../../../../../assets/sass/utils/utils";

.correct, .incorrect {
  padding: em(20);
}

p {
  font-size: em(12);
}

.correct {
  background-color: $green;
}

.incorrect {
  background-color: $red;
}

.material-icons {
  font-size: em(18);
  margin: 0 em(10);
  color: $grey;
}
