@import "../../../../../assets/sass/utils/utils";

section {
  .card {
    padding: em(35) em(50) em(45);
    font-size: em(10);

    .medium-6, .medium-12 {
      padding: em(3) em(20);
    }
    button {
      margin-top: em(25);
    }

    .term-conditions{
      font-size: em(12);
      color: $grey-black;
      margin-top: em(10);
    }
    .error{
      margin-bottom: em(15);
      font-size: em(12);
      font-weight: 600;
      font-family: $second-font-family;
      text-transform: uppercase;
    }
  }
}
