@import "../../../../../assets/sass/utils/utils";

section {
  .card {
    padding: em(35) em(50) em(45);
    button {
      margin-top: em(25);
    }

    .term-conditions {
      font-size: em(12);
      color: $grey-black;
      margin-top: em(10);
    }
  }
}
