<section>
  <h1>Register</h1>
  <div class="line"></div>

  <div class="row">

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="large-5 medium-6 small-12  centered columns">

      <md-card class="card">

        <md-error class="error centered" *ngIf="error">
          User with this username already exists
        </md-error>

        <div class="row">

          <md-input-container class="medium-6 small-12 columns">

            <input formControlName="firstName" mdInput placeholder="First Name">

            <md-error
              *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.hasError('required')">
              First Name is required
            </md-error>

            <md-error
              *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.hasError('minlength')">
              First Name must contains at least 5 characters
            </md-error>

          </md-input-container>

          <md-input-container class="medium-6 small-12 columns">

            <input formControlName="lastName" mdInput placeholder="Last name">

            <md-error
              *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.hasError('required')">
              Last Name is required
            </md-error>

            <md-error
              *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.hasError('minlength')">
              Last Name must contains at least 5 characters
            </md-error>

          </md-input-container>

        </div>

        <div class="row">

          <md-input-container class="medium-12 small-12 columns">

            <input formControlName="username" mdInput placeholder="Username">

            <md-error
              *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.hasError('required')">
              Username is required
            </md-error>

          </md-input-container>

          <md-input-container class="medium-12 small-12 columns">

            <input formControlName="password" type="password" mdInput placeholder="Password" [formGroup]="registerForm">

            <md-error
              *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')">
              Password is required
            </md-error>

            <md-error
              *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('minlength')">
              Password must contains at least 5 characters
            </md-error>

          </md-input-container>

          <md-input-container class="medium-12 small-12 columns">
            <input formControlName="confirmPassword" type="password" mdInput placeholder="Confirm Password">

            <md-error
              *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.hasError('required')">
              Confirm Password is required
            </md-error>

            <md-error
              *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.hasError('minlength')">
              Confirm Password must contains at least 5 characters
            </md-error>

            <md-error
              *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword').hasError('matchPassword')">
              The password does not match
            </md-error>

          </md-input-container>

          <md-checkbox formControlName="checkControl" class="medium-12 left term-conditions">
            I agree that you use my personal data and provide them tothird-party companies.

            <md-error
              *ngIf="registerForm.get('checkControl')?.touched && registerForm.get('checkControl').hasError('checked')">
              This check is required
            </md-error>

          </md-checkbox>

          <button class="medium-4 centered" md-button [disabled]="!registerForm.valid">Register</button>

        </div>

      </md-card>
    </form>

  </div>

</section>
