<div *ngIf="page && !nextPrevPagination" class="row">

  <div class="medium-12 columns">
    <p>Question {{page.index + 1}} of {{page.count}}.</p>
  </div>

  <div class="medium-9 small-12 columns">

    <button [disabled]="page.index === 0" class="pagination" md-button (click)="goToPage(0);">
      <i class="material-icons">first_page</i>
    </button>

    <button [disabled]="page.index === 0" class="pagination" md-button (click)="goToPage(page.index - 1);">
      <i class="material-icons">arrow_back</i>
    </button>

    <div class="display-inline" *ngFor="let number of paginationRange; let i = index">
      <button class="pagination" md-button
              [class.selected]="number === page.selectedPage"
              [class.btn-answered]="checkAnsweredPage(number)"
              *ngIf="i< 10" (click)="goToPage(number-1);">
        {{number}}
      </button>
    </div>


    <button [disabled]="page.index === (page.count-1)" class="pagination" md-button
            (click)="goToPage(page.index +1);">
      <i class="material-icons">arrow_forward</i>
    </button>

    <button [disabled]="page.index === (page.count-1)" class="pagination" md-button
            (click)="goToPage(page.count -1 );">
      <i class="material-icons">last_page</i>
    </button>

  </div>

  <div class="medium-3 small-12 columns">

    <qz-progress (onReviewState)="onReviewStatus($event)"></qz-progress>
    <qz-cancel (onCancelState)="onCancel($event)"></qz-cancel>

  </div>

</div>

<div *ngIf="page && nextPrevPagination" class="row">

  <div class="medium-12 columns">

    <button md-button (click)="goToPage(page.index - 1);">
      <i class="material-icons">arrow_back</i>
    </button>

    <button md-button (click)="goToPage(page.index + 1);">
      <i class="material-icons">arrow_forward</i>
    </button>

  </div>

</div>

