@import "../../../../../../assets/sass/utils/utils";

button {
  margin: em(5);
  background-color: $natural-grey;
  color: $black;
}

p {
  text-align: left;
}

.medium-9 {
  text-align: left;
  padding: 0 em(25);
}

.pagination {
  min-width: 1em;
  &:disabled {
    background-color: $grey-white;
  }
}

.btn-answered {
  background-color: $grey-black;
  color: $white;
}
