h1 {
    text-transform: uppercase;
    color: #3A3F3F;
}

.btn-solve {
    width: 10%;
    background-color: #E5AF42;
    color: #EFECEA;
}

button {
    margin: 0.2em!important;
}

.answer-card {
    padding: 1.3em;
    border: 1px solid #DEDEE3;
    margin: 10px;
    width: 80%;
    display: block;
    word-break: break-all;
    margin: 10px auto;
}

p,
div {
    font-family: open-sans;
    font-size: 1em;
    color: #3A3F3F;
}
.question{
    padding: 1em 1em 0.1em;
}

button {
    background-color: #EFECEA;
    color: #2D2C2D;
}

.align-center {
    text-align: center;
}

.align-left {
    padding-left: 1em;
}

.align-right {
    text-align: right;
    margin-right: 5em;
}

.align-center{
    text-align: center;
}
.inline-block {
    display: inline;
}

.btn-answered {
    background-color: #3A3F3F;
    color: white;
}

.selected {
    background-color: #E5AF42;
}

.btn-submit {
    background-color: #328432;
    color: white;
}

.btn-cancel {
    background-color: #843232;
    color: white;
}

.submit-form {
    display: inline-flex;
}

.review {
    display: block;
    text-align: center;
    .answer-block {
        width: 20%;
        display: inline-table;
        cursor: pointer;
        border: 1px solid #D7D8DD;
        margin: 0.5em;
        text-align: center;
        p {
            color: #EFECEA;
            text-transform: uppercase;
        }
    }
    .not-answered,
    .answered {
        padding: 0.2em;
        opacity: 0.8;
    }
    .not-answered {
        background-color: #EFECEA;
        p {
            color: black;
        }
    }
    .answered {
        background-color: #2D2C2D;
    }
}

.pagination {
    min-width: 1em;
}