@import "../../../../../../../assets/sass/utils/utils";

.answers {

  text-align: left;
  margin-left: 7%;
  button {
    background-color: $natural-grey;
    color: $black;
    margin: em(20) em(5) 0;
  }
}

