  <md-card class="card" >
             <div class="row">
                <div class="column" class="card1">
                   <div class=subtitle > <div>Category: {{quiz.category.title}}</div>
                    <div>Author: {{quiz.author.username}}</div>
                    <div>Create date: {{quiz.created_at* 1000 | date}}</div>
                </div></div>
                <div class="column" class="card2">
                    <h1 class="title"> {{quiz.title}} </h1>
                    <div class="content">{{quiz.description}}</div>
                  </div>
        </div>
 </md-card>
      <div>
<md-dialog-actions>
    <button md-button md-dialog-close routerLink="/quiz-solve/{{quiz.id}}" class="button"> Resolve</button>
    <button md-button md-dialog-close class="button_close" >Close</button>
</md-dialog-actions>
 </div>
